@media only screen and (max-width: 1024px) {


    .image {
        float: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        
    }

    .aboutMeText {
        margin-top: auto;
        font-size: 24px;
        float: left;
    }


    .cardRow {
        flex-direction: column;
        justify-content: space-around;
        flex-flow: wrap;
    }

    .card {
        width: auto;
    }


    .progressBar {
        width: 300%;
    }


    nav a{
        font-size: 18px !important;
    }

    .title {
        font-size: 24px;
    }

    #aboutSection {
        overflow: auto;
    }

}

@media only screen and (max-width: 900px) {

}