html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgb(25, 27, 28);
    line-height: 1.5;
    font-weight: 400;
    font-size: 1rem;
    color: white;
    font-family: "open-sans bold", sans-serif;
}

/* First Name, Last Name Stylin */
.row {
    line-height: 0;
    text-shadow: rgb(0, 0, 0 / 80%) 0px 1px 3px;
}

header {
    transition: 0.6s;
    background-image: url("bg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.firstName {
    color: white;
    font-size: 6rem;
    font-family: 'open-sans bold', sans-serif;
}

.lastName {
    color: white;
}

/* Nav Bar */
.navbar {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 8px 13px;
    line-height: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'opensans-bold', sans-serif;
    letter-spacing: 1.5px;
    font-size: 12px;

}

.navbar a {
    font-size: 16px !important;
    font-weight: bold;
    font-family: 'open-sans bold', sans-serif;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px !important;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
    transition: 0.6s;
}


.navbar a:hover {
    color: black;
    cursor: pointer;
}

.subtext {
    color: white;
    text-align: center;
    line-height: 0;
    color: rgb(244, 242, 238) !important;
    font-family: 'librebaskerville-regular', serif !important;
}


.aboutMe {
    color: rgb(205, 200, 191);
}

.img {
    float: left;
    width: 40%;

}

.aboutMeText {
    font-family: 'Open Sans', serif;
    margin-left: 10px;
    overflow: hidden;
    font-size: 20px;
    text-align: justify;
}

.date {
    float: right;
}


.subtitle {
    font-size: 1rem;
}

.education {
    color: rgb(205, 200, 191);
}

.button {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
    font-size: 2rem;
    color: white;
    text-decoration: none;


}

#purdue {
    font-weight: bold;
}

#wallenberg {
    font-weight: bold;
}


.school {
    margin-bottom: -20px;
}

.start {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.footer {
    padding-top: 64px;
    padding-bottom: 64px;
    text-align: center;
    background-color: black;
}

.footerButton {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    background-color: rgb(244, 242, 238) !important;
}


.courworkTitle {
    text-decoration: underline;
}

.title {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(244, 242, 238);
    margin-bottom: 4rem;
    font-family: "open-sans bold", sans-serif;
}

.education {
    margin-left: 10px;
}

.personalProjects {
    margin-left: 10px;
}

.skills {
    margin-left: 10px;
}

.languageName {
    letter-spacing: 4px;
}

.progressBar {
    color: #000 !important;
    background-color: #f1f1f1;
    line-height: 1.8;
    width: 40%;
}

.progress80 {
    width: 80%;
    line-height: 1.8;
    padding: 4px 8px !important;
    color: #fff !important;
    background-color: #616161 !important;
    text-align: center;
}

.progress60 {
    width: 60%;
    line-height: 1.8;
    padding: 4px 8px !important;
    color: #fff !important;
    background-color: #616161 !important;
    text-align: center;
}

.progress50 {
    width: 50%;
    line-height: 1.8;
    padding: 4px 8px !important;
    color: #fff !important;
    background-color: #616161 !important;
    text-align: center;
}


.rightText {
    float: right;
}

.progressBarSpan {
    color: #000 !important;
    background-color: #f1f1f1;
    line-height: 1.8;
    width: 40%;
    float: right;
}

.contact {
    margin-left: 10px;
}

.sticky {
    transition: 0.6s;
    position: fixed;
    width: 100%;
    background-color: black;
    padding-top: 0px !important;
}

.image {
    width: 10px;
    height: 10px;
}

.cardRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: nowrap;
    grid-gap: 50px;
}

.container {
    width: auto;
    height: auto;

}

a {
    text-decoration: none;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: rgb(25,27,28);
    transition: 0.3s;
    text-decoration: none;
    width: 50%;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

.cardText {
    color: rgb(232,229,225);
    text-align: center;
}


#aboutSection {
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding: 5rem;
    height: 100vh;
}

.skillIcons {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pythonHover {
    visibility: visible;
    top: 5px;
    left: 10px !important;
    color: red;

}

.pythonIcon:hover ~ #pythonHover {
    visibility: hidden;
}


#educationSection {

    padding-top: 5rem;
    padding-bottom: 5rem;
    padding: 5rem;
    height: 100vh;
    background-color: rgb(36,39,41);
}

#projectsSection {

    padding-top: 5rem;
    padding-bottom: 5rem;
    padding: 5rem;
    height: 100vh;
    background-color: #222222;
}

#skillsSection {
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding: 5rem;
    height: 100vh;
}

#contactSection {
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding: 5rem;
    height: 60vh;
    background-color: rgb(17,18,19);
}

.contactRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: nowrap;
    grid-gap: 0px;
    font-family: "poppins-regular", sans-serif;
}

.email a {
    text-decoration: none;
    color: rgb(167,159,146);
    line-height: 36px;
}

.linkedln i, .instagram i {
    color: rgb(244, 242, 238);
    font-size: 4.2rem;
}

.linkedln a, .instagram a {
    text-decoration: none;
    color: rgb(167,159,146)
}

.contactText {
    text-decoration: none;
}




.footer a {
    text-decoration: none;
    color: black;
    background-color: white;
}
